@import "@acme/tailwind-config/styles.css";

html,
body,
#__root {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-overflow-scrolling: touch;
}

#__root {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  /* Allows you to scroll below the viewport; default value is visible */
  overflow-y: auto;
  /* might need to enable this if there is a problem with overscroll behaviour */
  /*overscroll-behavior-y: none;*/
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: scrollbar;
}
